<div  class="items page-layout carded fullwidth" layout="row">

    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div st-pipe="vm.callServer" st-table="displayed" class="center" layout="column" flex>
        <!-- CONTENT HEADER -->
        <div  class="header" layout="row" layout-align="space-between center">
          <div class="white-fg" layout="column" layout-align="start start">
              <div class="h1" layout="row" layout-align="start center">
                  <md-icon>shopping_cart</md-icon>
                  <span translate="ORDERS.ITEMS">Items</span>
              </div>
              <div class="order-count secondary-text">
                  <span translate="ORDERS.ALL_ITEMS">Total Items: </span>
                  <span>{{total_pages}}</span>
              </div>
          </div>
          <div class="search" layout="row" layout-align="start center" flex>
              <!--                <input st-search class="search-input " type="search"
                  placeholder="Search"
                  translate translate-attr-placeholder="USERS.SEARCH" flex/>-->
              <md-input-container flex>
                  <md-icon class="white-text icon search-icon">search</md-icon>
                  <label>{{'ORDERS.SEARCH'| translate}}</label>
                  <input ng-model="searchKeyword" flex>
              </md-input-container>
          </div>
          <div>
              <!--                <md-button class="md-raised md-background" id="delete-item-button"
                  ng-click="vm.deleteSelectedItems($event)"
                  aria-label="add item"vtranslate-attr-aria-label="USERS.DELETE_ITEM">
                  {{"USERS.DELETE_ITEM"| translate}}
                  </md-button>-->
              <!-- <md-button class="md-raised md-background n" id="add-item-button"
                  ui-sref="app.orders.add-order"
                  aria-label="add item" translate translate-attr-aria-label="ORDERS.ADD_ITEM">
                  {{"ORDERS.ADD_ITEM"| translate}}
                  </md-button> -->
              <md-button class="md-raised md-background md-icon-button"
                  ng-click="vm.ordersFilter()"
                  aria-label="orders" translate translate-attr-aria-label="ORDERS.ITEMS">
                  <md-icon>filter_list</md-icon>
                  <!--{{"TWIGS.BUSINESSES"| translate}}-->
              </md-button>

              <md-button ng-show='vm.filterApplied' class="md-raised md-background md-icon-button"
                         ng-click="vm.removeFilter()"
                         aria-label="ORDERS" translate translate-attr-aria-label="ORDERS.ITEMS">
                  <md-icon>close</md-icon>
              </md-button>
          </div>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <md-content class="content-card" layout="column" flex>
            <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">
                <md-button ng-click="vm.closeOrdersFilter()" class="md-icon-button">
                    <md-icon class=' md-primary'>close</md-icon>
                </md-button>
                <!--                <md-toolbar class="md-theme-light" layout='row' layout='space-between center'>
                                    <h1 class="md-toolbar-tools"> {{"TWIGS.BUSINESSES"| translate}}</h1>
                                    <span flex></span>
                                    <md-button ng-click="vm.closeBusinessesFilter()" class="md-icon-button">
                                        <md-icon class=' md-primary'>close</md-icon>
                                    </md-button>
                                </md-toolbar>-->
                <md-content  layout-padding>
                    <!--<form flex>-->
                    <md-list>
                        <md-list-item class="md-2-line">
                            <md-icon>business</md-icon>
                            <md-autocomplete                  flex
                                                              md-require-match
                                                              md-delay="2000"
                                                              md-no-cache="false"
                                                              md-selected-item="selectedBusiness"
                                                              md-search-text="searchBusiness"
                                                              md-selected-item-change="selectedBusinessChange(i)"
                                                              md-items="i in onChangeBusiness(searchBusiness)"
                                                              md-item-text="i.name"
                                                              md-min-length="0"
                                                              md-floating-label="{{'TWIGS.SEARCH_BUSINESS'| translate}}">
                                <md-item-template>
                                    <span md-highlight-text="searchBusiness" md-highlight-flags="^i">{{i.name}}</span>
                                </md-item-template>
                                <md-not-found>
                                    No Businesses matching {{searchBusiness}} were found.
                                    <!--<a ng-click="newState(searchText)">Create a new one!</a>-->
                                </md-not-found>
                            </md-autocomplete>
                        </md-list-item>

                        <md-list-item class="md-2-line">
                            <md-icon>shopping_basket</md-icon>
                            <md-autocomplete                  flex
                                                              md-require-match
                                                              md-delay="2000"
                                                              md-no-cache="false"
                                                              md-selected-item="selectedProduct"
                                                              md-search-text="searchProduct"
                                                              md-selected-item-change="selectedProductChange(i)"
                                                              md-items="i in onChangeProduct(searchProduct)"
                                                              md-item-text="i.name"
                                                              md-min-length="0"
                                                              md-floating-label="{{'ORDERS.SEARCH_PRODUCT'| translate}}">
                                <md-item-template>
                                    <span md-highlight-text="searchProduct" md-highlight-flags="^i">{{i.name}}</span>
                                </md-item-template>
                                <md-not-found>
                                    No Products matching {{searchProduct}} were found.
                                    <!--<a ng-click="newState(searchText)">Create a new one!</a>-->
                                </md-not-found>
                            </md-autocomplete>
                        </md-list-item>

                        <md-list-item class="md-2-line">
                            <md-icon>account_circle</md-icon>
                            <md-autocomplete                  flex
                                                              md-require-match
                                                              md-delay="2000"
                                                              md-no-cache="false"
                                                              md-selected-item="selectedUser"
                                                              md-search-text="searchUser"
                                                              md-selected-item-change="selectedUserChange(i)"
                                                              md-items="i in onChangeUser(searchUser)"
                                                              md-item-text="i.name"
                                                              md-min-length="0"
                                                              md-floating-label="{{'ORDERS.SEARCH_USER'| translate}}">
                                <md-item-template>
                                    <span md-highlight-text="searchUser" md-highlight-flags="^i">{{i.name}}</span>
                                </md-item-template>
                                <md-not-found>
                                    No Products matching {{searchUser}} were found.
                                    <!--<a ng-click="newState(searchText)">Create a new one!</a>-->
                                </md-not-found>
                            </md-autocomplete>
                        </md-list-item>

                        <md-list-item>
                          <md-input-container>
                                  <label>"{{'ORDERS.PAYMENT_STATE'| translate}}"</label>
                                  <md-icon>payment</md-icon>
                                  <md-select ng-model="selectedPaymentState" ng-change="paymentStateFilterChange()" multiple>
                                      <md-option value="active">Active</md-option>
                                      <md-option value="inactive">Inactive</md-option>
                                      <md-option value="pending">Pending</md-option>
                                  </md-select>
                                </md-input-container>
                        </md-list-item>

                        <md-list-item>
                          <md-input-container>
                                  <label>"{{'ORDERS.DELIVERY_STATE'| translate}}"</label>
                                  <md-icon>payment</md-icon>
                                  <md-select ng-model="selectedDeliveryState" ng-change="deliveryStateFilterChange()" multiple>
                                      <md-option value="active">Active</md-option>
                                      <md-option value="inactive">Inactive</md-option>
                                      <md-option value="pending">Pending</md-option>
                                  </md-select>
                                </md-input-container>
                        </md-list-item>
                    </md-list>
                    <!--                    <md-input-container flex>
                                            <md-icon>search</md-icon>
                                            <label>{{'TWIGS.SEARCH_BUSINESS'| translate}}</label>
                                            <input type="text"  ng-model="business_name" md-autofocus>
                                        </md-input-container>
                                        <md-input-container flex>
                                            <md-icon>search</md-icon>
                                            <label>{{'TWIGS.SEARCH_LOCATION'| translate}}</label>
                                            <input type="text"  ng-model="location_name">
                                        </md-input-container>-->
                    <!--                        <md-autocomplete
                                                md-selected-item="selectedBusiness"
                                                md-search-text-change="searchBusinessChange(searchBusiness)"
                                                md-search-text="searchBusiness"
                                                md-selected-item-change="selectedBusinessChange(bus)"
                                                md-items="bus in querySearch(searchBusiness)"
                                                md-item-text="bus.name"
                                                md-min-length="0"
                                                md-require-match
                                                md-floating-label="{{'TWIGS.SEARCH_BUSINESS'| translate}}">
                                                <md-item-template>
                                                    <span md-highlight-text="searchBusiness" md-highlight-flags="^i">{{bus.name}}</span>
                                                </md-item-template>
                                                <md-not-found>
                                                    No states matching "{{searchBusiness}}" were found.
                                                </md-not-found>
                                            </md-autocomplete>-->
                    <!--</form>-->
                    <!--                    <div ng-show='isSideNavLoading'>
                                            <md-progress-linear md-mode="indeterminate"></md-progress-linear>
                                        </div>
                                        <md-list class="md-dense" flex>
                                            <md-subheader class="md-no-sticky">3 line item (dense)</md-subheader>
                                            <md-list-item class="md-3-line" ng-repeat="business in vm.businessesList| filter:business_name"
                                                          ng-click='vm.getData(business.id)'>
                                                <img ng-src="{{business.logo}}" class="md-avatar" alt="{{business.name}}" />
                                                <div class="md-list-item-text" layout="column">
                                                    <h3>{{ business.name}}</h3>
                                                                                    <h4>{{ item.what}}</h4>
                                                                                    <p>{{ item.notes}}</p>
                                                </div>
                                            </md-list-item>
                                            <md-divider ></md-divider>
                                        </md-list>-->
                </md-content>

            </md-sidenav>
            <!-- CONTENT -->
            <div class="content fullpage-datatable" layout="column" flex>

              <table    id='Dtable'
                  class="dataTable row-border hover table table-striped">
                  <thead>
                      <tr>
                          <th  st-sort="id">ID</th>
                          <th  st-sort="user.name">User</th>
                          <th  st-sort="to_user.name">To User</th>
                          <th  st-sort="product.name">Product </th>
                          <th  st-sort="delivery_zone.name">Delivery Zone</th>
                          <th  st-sort="total_order">Total</th>
                          <th  st-sort="payment_state">Payment State</th>
                          <th  st-sort="delivery_state">Delivery State</th>
                          <th></th>
                      </tr>
                  </thead>
                  <tbody ng-show="!vm.isLoading">
                      <!--has-permission="list" has-permission-value='{{item.id}}'-->
                      <tr ng-repeat="item in  displayed| filter: searchKeyword " >
                          <td ng-click="vm.itemDetails(item.id)">{{item.id}}</td>
                          <td ng-click="vm.itemDetails(item.id)">{{item.user.name}}</td>
                          <td ng-click="vm.itemDetails(item.id)">{{item.to_user.name}}</td>
                          <td ng-click="vm.itemDetails(item.id)">{{item.product.name}}</td>
                          <td ng-click="vm.itemDetails(item.id)">{{item.delivery_zone.name}}</td>
                          <td ng-click="vm.itemDetails(item.id)">{{item.total_order}}</td>
                          <td>
                              <md-input-container class="md-icon-float md-block">
                                  <md-select aria-label="payment state" ng-model="item.payment_state" required
                                      class="md-no-underline"
                                      ng-change="vm.paymentStateChange(item,$event)">
                                      <md-option value="active">Active</md-option>
                                      <md-option value="inactive">Inactive</md-option>
                                      <md-option value="pending">Pending</md-option>
                                  </md-select>
                              </md-input-container>
                          </td>
                          <td>
                              <md-input-container class="md-icon-float md-block">
                                  <md-select aria-label="delivery state" ng-model="item.delivery_state" required
                                      class="md-no-underline"
                                      ng-change="vm.deliveryStateChange(item,$event)">
                                      <md-option value="active">Active</md-option>
                                      <md-option value="inactive">Inactive</md-option>
                                      <md-option value="pending">Pending</md-option>
                                  </md-select>
                              </md-input-container>
                          </td>
                          <!--                            <td ng-click="vm.itemDetails(item.id)">{{item.order_no}}</td>
                              <td ng-click="vm.itemDetails(item.id)">{{item.payment_method}}</td>

                              <td ng-click="vm.itemDetails(item.id)">{{item.order}}</td>
                              <td ng-click="vm.itemDetails(item.id)">{{item.delivery_cost}}</td>
                              <td ng-click="vm.itemDetails(item.id)">{{item.quantity}}</td>


                              <td ng-click="vm.itemDetails(item.id)">{{item.notes}}</td>
                              -->
                          <td>
                              <md-menu ng-if="vm.adminRole">
                                  <md-button class="md-icon-button" aria-label="More" translate
                                      translate-attr-aria-label="ORDERS.MORE" ng-click="$mdOpenMenu()">
                                      <md-icon >more_vert</md-icon>
                                  </md-button>
                                  <md-menu-content width="3">
                                      <md-menu-item>
                                          <md-button
                                              ng-click="vm.editItem($event, item)"
                                              translate="ORDERS.EDIT_ITEM">
                                              Edit item
                                          </md-button>
                                      </md-menu-item>
                                      <md-menu-item>
                                          <md-button ng-click="vm.deleteItemConfirm(item, vm.items)"
                                              translate="ORDERS.DELETE_ITEM">
                                              Delete item
                                          </md-button>
                                      </md-menu-item>
                                  </md-menu-content>
                              </md-menu>
                          </td>
                      </tr>
                  </tbody >
                  <tbody ng-show="vm.isLoading">
                      <tr>
                          <td colspan="8" class="text-center">Loading ... </td>
                      </tr>
                  </tbody>
                  <tfoot >
                      <tr >
                          <td st-pagination=""  st-items-by-page="itemsByPage" st-displayed-pages="20" colspan="8"> </td>
                      </tr>
                  </tfoot>
              </table>

            </div>
            <!-- / CONTENT -->

        </md-content>
    </div>
    <!-- / CENTER -->

</div>
