<div class="items page-layout carded fullwidth" layout="row">

    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div  st-pipe="vm.callServer" st-table="displayed" class="center" layout="column" flex>
        <!-- CONTENT HEADER -->
        <div class="header" layout="row" layout-align="space-between center">
            <div class="white-fg" layout="column" layout-align="start start">
                <div class="h1" layout="row" layout-align="start center">
                    <md-icon>view_headline</md-icon>
                    <span translate="CATEGORIES.ITEMS">Items</span>
                </div>
                <div class="order-count secondary-text">
                    <span translate="CATEGORIES.ALL_ITEMS">Total Items: </span>
                    <span>{{total_pages}}</span>
                </div>
            </div>

            <div class="search" layout="row" layout-align="start center" flex>
                  <md-input-container flex>
                     <md-icon class="white-text icon search-icon">search</md-icon>
                    <label>{{'USERS.SEARCH'| translate}}</label>
                    <input ng-model="searchKeyword" flex>
                </md-input-container>            

            </div>
            <div>
                <!--                <md-button class="md-raised md-background" id="delete-item-button"
                                           ng-click="vm.deleteSelectedItems($event)"
                                           aria-label="add item"vtranslate-attr-aria-label="TWIGS.DELETE_ITEM">
                                    {{"TWIGS.DELETE_ITEM"| translate}}
                                </md-button>-->

                <md-button class="md-raised md-background n" id="add-item-button"                      
                           ui-sref="app.categories.add-category"
                           aria-label="add item" translate translate-attr-aria-label="CATEGORIES.ADD_ITEM">
                    {{"CATEGORIES.ADD_ITEM"| translate}}
                </md-button>
            </div>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card" layout="column" flex>

            <!-- CONTENT -->
            <div class="content fullpage-datatable" layout="column" flex>

                <table class="dataTable row-border hover table table-striped">                   
                    <thead>
                        <tr>             
                            <th  st-sort="id">  ID   </th>
                            <th  >Photo    </th>    
                            <th>Cover</th>
                            <th st-sort="name">Name</th>   
                            <th>Color</th>                         
                            <th st-sort="status">Active</th>                                  
                            <th></th>
                        </tr>                               
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in displayed | filter: searchKeyword" ng-click='vm.itemDetails(item)'> 
                            <td>{{item.id}}</td>
                            <td><img class="item-image" ng-src="{{item.photo}}"></td>
                            <td><img class="item-image" ng-src="{{item.cover}}"></td> 
                            <td>{{item.name}}</td>
                            <td><div ng-style="{'background-color': '#'+item.color}" style='width:20px;height:20px'></div></td>                           
                            <td>
                                <span ng-if="item.status === 'Active'"><i style="padding: 0 10px" class="icon-checkbox-marked-circle green-500-fg"></i></span>
                                <span ng-if="item.status === 'Inactive'"><i style="padding: 0 10px" class="icon-cancel red-500-fg"></i></span>
                            </td>
                            <td>
                    <md-menu>
                        <md-button class="md-icon-button" aria-label="More" translate
                                   translate-attr-aria-label="CATEGORIES.MORE" ng-click="$mdOpenMenu($event)">
                            <md-icon >more_vert</md-icon>
                        </md-button>
                        <md-menu-content width="3">
                            <md-menu-item>                                
                                <md-button 
                                    ng-click="vm.editItem(item)" 
                                    aria-label="CATEGORIES details"
                                    translate translate-attr-aria-label="CATEGORIES.PROFILE">  
                                    Edit Category
                                </md-button>
                            </md-menu-item>                                
                            <md-menu-item>                                
                                <md-button 
                                    ng-click="vm.deleteItemConfirm(item)"
                                    aria-label="delete"
                                    translate translate-attr-aria-label="CATEGORIES.DELETE">  
                                    Delete Category
                                </md-button>
                            </md-menu-item>    
                        </md-menu-content>
                    </md-menu>
                    </td>
                    </tr>
                    </tbody>
                      <tbody ng-show="vm.isLoading">
                        <tr>
                            <td colspan="12" class="text-center">Loading ... </td>
                        </tr>
                    </tbody>                   
                    <tfoot >
                        <tr >
                            <td st-pagination=""  st-items-by-page="itemsByPage" st-displayed-pages="20" colspan="11"> </td>
                        </tr>
                    </tfoot>
                </table>

            </div>
            <!-- / CONTENT -->
        </div>
    </div>
    <!-- / CENTER -->

</div>



